---
title: 'About'
description: "Discover the story behind Sabai Thai Massage & Spa. Learn about our founder's journey from Thailand to Bournemouth and our mission to bring Thai wellness to you."
preloadImg: '/assets/images/banners/internal.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about/" class="cs-link cs-active">About</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/internal-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/internal.webp">
        <img decoding="async" src="/assets/images/banners/internal.jpg" alt="massage" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/deep-tissue-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/deep-tissue.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/deep-tissue.jpg" alt="deep tissue" width="630" height="775">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">About Sabai Thai Massage & Spa</h2>
            <p class="cs-text">
                Sabai Thai Massage & Spa has been a haven of relaxation and healing in Bournemouth for four years. Our journey began with a passion for sharing the authentic healing traditions of Thailand with our local community.
            </p>
            <p class="cs-text">
                Our story is deeply rooted in the rich cultural heritage of Thailand. Our founder, Bee hails from Buriram, a province known for its ancient Khmer temples and warm hospitality. In 2012, she brought her expertise and passion for Thai massage to the UK, driven by a vision to introduce this transformative therapy to the Bournemouth community.
            </p>
            <p class="cs-text">
                Bee's journey is one of dedication and love for her craft. With recognised Thai massage qualifications, she combines traditional techniques with a deep understanding of modern wellness needs. Her goal is simple yet profound: to help people find relaxation and balance in their busy lives through the power of Thai massage.
            </p>
            <p class="cs-text">
                As we continue to grow, our core values remain the same. We're committed to providing an authentic Thai massage experience, helping our clients achieve relaxation, and promoting overall wellness in our community.
            </p>                 
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}