---
title: 'Massages'
description: 'Explore our range of massage treatments at Sabai Thai Massage & Spa. Find the perfect massage for your needs and budget. Book your session today.'
preloadImg: '/assets/images/banners/internal.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/treatments.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massages/" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/internal-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/internal.webp">
        <img decoding="async" src="/assets/images/banners/internal.jpg" alt="massage" width="1280" height="568" aria-hidden="true">
    </picture>
</div>




<!-- ============================================ -->
<!--                  Menu Group                  -->
<!-- ============================================ -->

<div id="cs-menu-group-1037">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-icon-wrapper">
                <img class="cs-icon" decoding="async" src="/assets/svgs/logo-p.svg" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Our Treatments</h2>
            <div class="cs-button-group">
                <button class="cs-button cs-active" data-filter="one" onclick="window.location.href='#cs-menu-group';">
                    30 Min
                </button>
                <button class="cs-button" data-filter="two" onclick="window.location.href='#cs-menu-group';">
                    60 Min
                </button>
                <button class="cs-button" data-filter="three" onclick="window.location.href='#cs-menu-group';">
                    90 Min
                </button>
            </div>
        </div>
        <!--30 min-->
        <div id="cs-menu1-1037" class="cs-menu-group" data-category="one">
            <!--30 min-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/oil-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/oil-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/oil-massage.jpg" alt="relaxing thai oil massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Relaxing Massage (Thai Oil)</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    A soothing full-body treatment using aromatic oils to promote relaxation and reduce stress.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/thai-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/thai-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/thai-massage.jpg" alt="traditional thai massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Traditional Thai Massage</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    A therapeutic practice combining stretching and deep massage techniques without the use of oil.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.jpg" alt="deep tissue massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £40
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Relieves pain and tension by targeting deep muscles, aiding in recovery and promoting well-being.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/sports-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/sports-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/sports-massage.jpg" alt="sports massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Sports Massage</span>
                                    <span class="cs-price">
                                        £40
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Targets athletic-related muscle tension and injuries, enhancing performance and reducing recovery time.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/foot-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/foot-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/foot-massage.jpg" alt="foot massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Massage</span>
                                    <span class="cs-price">
                                        £40
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Focuses on the feet to alleviate stress and tension, perfect for soothing a common area of discomfort.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/head-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/head-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/head-massage.jpg" alt="head, shoulder, and back massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Head, Shoulder, and Back Massage</span>
                                    <span class="cs-price">
                                        £40
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Focuses on upper body tension relief, easing headaches and improving posture and flexibility.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-massage.jpg" alt="couple's relaxing massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Relaxing Massage (Thai Oil Massage)</span>
                                    <span class="cs-price">
                                        £70
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Shared experience of gentle, oil-based massage promoting relaxation and connection for couples.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-2.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-2.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-2.jpg" alt="couple's deep tissue massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £80
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Intensive treatment for two, addressing chronic muscle tension and promoting joint mobility.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-3.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-3.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-3.jpg" alt="couple's traditional thai massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Traditional Thai Massage</span>
                                    <span class="cs-price">
                                        £70
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Synchronized stretching and pressure point therapy for pairs, improving energy flow and flexibility.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--60 min-->
        <div id="cs-menu3-1037" class="cs-menu-group" data-category="two">
            <!--60 min-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/oil-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/oil-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/oil-massage.jpg" alt="relaxing thai oil massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Relaxing Massage (Thai Oil)</span>
                                    <span class="cs-price">
                                        £55
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    A soothing full-body treatment using aromatic oils to promote relaxation and reduce stress.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/thai-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/thai-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/thai-massage.jpg" alt="traditional thai massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Traditional Thai Massage</span>
                                    <span class="cs-price">
                                        £55
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    A therapeutic practice combining stretching and deep massage techniques without the use of oil.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.jpg" alt="deep tissue massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £60
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Relieves pain and tension by targeting deep muscles, aiding in recovery and promoting well-being.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/sports-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/sports-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/sports-massage.jpg" alt="sports massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Sports Massage</span>
                                    <span class="cs-price">
                                        £60
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Targets athletic-related muscle tension and injuries, enhancing performance and reducing recovery time.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/foot-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/foot-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/foot-massage.jpg" alt="foot massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Massage</span>
                                    <span class="cs-price">
                                        £55
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Focuses on the feet to alleviate stress and tension, perfect for soothing a common area of discomfort.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/head-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/head-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/head-massage.jpg" alt="head, shoulder, and back massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Head, Shoulder, and Back Massage</span>
                                    <span class="cs-price">
                                        £55
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Focuses on upper body tension relief, easing headaches and improving posture and flexibility.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-massage.jpg" alt="couple's relaxing massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Relaxing Massage (Thai Oil Massage)</span>
                                    <span class="cs-price">
                                        £110
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Shared experience of gentle, oil-based massage promoting relaxation and connection for couples.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-2.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-2.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-2.jpg" alt="couple's deep tissue massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £120
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Intensive treatment for two, addressing chronic muscle tension and promoting joint mobility.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-3.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-3.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-3.jpg" alt="couple's traditional thai massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Traditional Thai Massage</span>
                                    <span class="cs-price">
                                        £110
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Synchronized stretching and pressure point therapy for pairs, improving energy flow and flexibility.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--90 min-->
        <div id="cs-menu4-1037" class="cs-menu-group" data-category="three">
            <!--90 min-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/oil-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/oil-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/oil-massage.jpg" alt="relaxing thai oil massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Relaxing Massage (Thai Oil)</span>
                                    <span class="cs-price">
                                        £85
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    A soothing full-body treatment using aromatic oils to promote relaxation and reduce stress.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/thai-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/thai-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/thai-massage.jpg" alt="traditional thai massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Traditional Thai Massage</span>
                                    <span class="cs-price">
                                        £85
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    A therapeutic practice combining stretching and deep massage techniques without the use of oil.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.jpg" alt="deep tissue massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £95
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Relieves pain and tension by targeting deep muscles, aiding in recovery and promoting well-being.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/sports-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/sports-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/sports-massage.jpg" alt="sports massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Sports Massage</span>
                                    <span class="cs-price">
                                        £95
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Targets athletic-related muscle tension and injuries, enhancing performance and reducing recovery time.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/foot-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/foot-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/foot-massage.jpg" alt="foot massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Massage</span>
                                    <span class="cs-price">
                                        £90
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Focuses on the feet to alleviate stress and tension, perfect for soothing a common area of discomfort.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/head-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/head-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/head-massage.jpg" alt="head, shoulder, and back massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Head, Shoulder, and Back Massage</span>
                                    <span class="cs-price">
                                        £90
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Focuses on upper body tension relief, easing headaches and improving posture and flexibility.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-massage.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-massage.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-massage.jpg" alt="couple's relaxing massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Relaxing Massage (Thai Oil Massage)</span>
                                    <span class="cs-price">
                                        £170
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Shared experience of gentle, oil-based massage promoting relaxation and connection for couples.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-2.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-2.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-2.jpg" alt="couple's deep tissue massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Deep Tissue Massage</span>
                                    <span class="cs-price">
                                        £180
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Intensive treatment for two, addressing chronic muscle tension and promoting joint mobility.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples-3.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples-3.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples-3.jpg" alt="couple's traditional thai massage" width="160" height="160">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couple's Traditional Thai Massage</span>
                                    <span class="cs-price">
                                        £170
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Synchronized stretching and pressure point therapy for pairs, improving energy flow and flexibility.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule An Appointment</a>
    </div>
</div>

<script>
    class CS_MenuFilter {
    filtersSelector = '.cs-button'
    menuSelector = '.cs-menu-group'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        this.$menus = document.querySelectorAll(this.menuSelector)
        const $filters = document.querySelectorAll(this.filtersSelector)

        this.onClick($filters[0])

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter?.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $menu of this.$menus) {
            const show = showAll || $menu.dataset.category == filter
            $menu.classList.toggle(hiddenClass, !show)
        }
    }
}

new CS_MenuFilter()
                                
</script>
                                
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}